body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 12px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul.form-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul.form-list li {
    margin-bottom: 5px;
}

.little-form {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: white;
    display: inline-block;
    margin-bottom: 10px;
    z-index: 4;
}

.spaced-row {
    display: flex;
    justify-content: flex-start;
}

.spaced-row > * {
    margin-right: 5px;
}

.spaced-row > *:last-child {
    margin-right: 0;
}

button {
    background-color: #78a;
    color: white;
    border-radius: 5px;
    font-variant: small-caps;
    outline: none;
}

button:hover {
    cursor: pointer;
    background-color: #56c;
}

.link-listing button {
    margin-right: 10px;
}

.link-listing span {
    font-size: 12px;
}

.thumbnail {
    width: 60px;
    height: 60px;
    overflow: hidden;
    display: inline-block;
    margin-bottom: -3px;
    cursor: pointer;
}

.thumbnail img {
    width: 170%;
    margin-left: -20%;
    margin-top: -10%;
}

.thumbnail:hover {
    box-shadow: inset 0px 0px 80px rgba(255,255,200,0.5);
}

.wide-thumb {
    display: inline-block;
}

.wide-thumb img {
    max-width: 200px;
}

.gallery-wrapper {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.gallery-wrapper .thumbnail {
    width: 60px;
    height: 60px;
}

.gallery-column {
    flex: 1 1 0;
    margin-top: 10px;
}

.gallery-title {
    padding: 3px;
    background-color: #aaa;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    display: inline-block;
    width: 100%;
}

.gallery-content {
    margin: 10px 0;
}

nav {
    margin-left: 10px;
}

.nav-wrapper {
    position: fixed;
    top: 0;
    z-index: 5;
    padding: 10px 0;
    width: 100%;
}

.nav-wrapper > * {
    display: inline-block;
}

nav.image-view {
    visibility: hidden;
}

.nav-wrapper:hover nav {
    visibility: visible;
}

nav button {
    margin-right: 5px;
    height: 30px;
}

.padded-content {
    margin-top: 40px;
    padding: 10px;
}

.image-view {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.list-view label {
    font-size: 12px;
}

.list-view-top {
    
}

.list-view-content {
    position:absolute;
    top: 40px;
    left:0px;
    right:0px;
    bottom:0px;
    overflow-y:scroll;
}

div.column {
    display: inline-block;
}

.little-form .form-title {
    font-size: 10px;
    margin-bottom: 5px;
}

.subject-entry {
    border: 1px solid gray;
    border-radius: 5px;
    background-color: #ddd;
    padding: 1px 3px;
    margin: 1px;
    display: inline-block;
    cursor: pointer;
}

.subject-thumbnail {
    border: 1px solid gray;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    margin: 0 5px 5px 0;
    overflow: hidden;
}

.subject-view {
    margin-top: 30px;
    padding: 10px;
}

.remove-subject-button {
    cursor: pointer;
}

.remove-subject-button:hover {
    font-weight: bold;
}

.subject-name {
    color: black;
}

img.small-view {
    max-width: 100px;
    max-height: 100px;
}

.vid-edit-btn {
    position: relative;
    top: -6px;
    left: -39px;
    visibility: hidden;
}
.wide-thumb:hover .vid-edit-btn {
    visibility: visible;
}

#full-page-blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(200,200,200,0.5);
    z-index: 4;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

#modal-form {
    width: 300px;
    height: 70px;
    margin-top: 30px;
}

#modal-form button {
    height: 40px;
}

