.subject-thumb{
    position: relative;
}

.links-count{
    font-size: 10px;
    display: inline-block;
    background-color: white;
    position: absolute;
    top: 47px;
    left: 1px;
    padding: 0 2px;
    border-radius: 50%
}
